.Sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7)
}

.Sidebar h2, p {
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}

.Sidebar p {
  font-size: 15px;
}

.Sidebar button {
  background: '#b3ffff';
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 2px;
  height: 25px;
  cursor: pointer;
}

.Sidebar button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}